.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


@media screen and (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .products {
        grid-template-columns: 1fr;
    }
}