.header {
    background: #07152e;
    width: 100%;
}

.header .wrapper {
    padding: 14px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.header .wrapper ul {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header .wrapper ul li {
    list-style: none;
}

.toggle {
    display: none;
    padding: 6px 10px;
    border: 2px solid #ccc;
    background: none;
    color: #eaeaea;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 780px) {
    .header .wrapper {
        position: relative;
    }

    .header .wrapper ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        width: 100%;
        background: #07152e;
        left: 0;
        top: 55px;
        padding: 20px 0;
        text-align: center;
        border-top: 1px solid #333e51;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s;
        z-index: 9999;
    }

    .toggle {
        display: block;
    }
}

.login-btn {
    color: #07152e;
    font-size: 1rem;
    font-weight: 600;
    background: orange;
    padding: 10px 28px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}