.review-orders {
    background: #f4f4f4;
}

.review-orders .wrapper {
    padding: 70px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.cart-items {
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.cart-item {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.cart-item img {
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.cart-item h4 {
    color: #232323;
    margin: 0;
    width: 220px;
}

.cart-item strong {
    color: #232323;
}

.empty {
    color: #b8b8b8;
    text-align: center;
    margin: 10px 0;
}

.clear-cart {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 28px;
    background: #ff2e2e;
    margin: 5px 0;
    cursor: pointer;
}

.remove-item {
    color: #ff2e2e;
    font-size: 24px;
    font-weight: 600;
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .review-orders .wrapper {
        padding: 50px;
    }
}

@media screen and (max-width: 950px) {
    .review-orders .wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .cart-item h4 {
        font-size: 14px;
        max-width: 150px;
    }
}

@media screen and (max-width: 750px) {
    .review-orders .wrapper {
        display: flex;
        flex-direction: column;
    }
}